lib/src/main/xsd/xmcda3_impreciseAssignmentExample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
    <xs:include schemaLocation="xmcda3_category.xsd"></xs:include>
    <xs:include schemaLocation="xmcda3_alternative.xsd"></xs:include>
    <xs:complexType name="impreciseAssignmentExampleType">
        <xs:sequence>
            <xs:element name="alternative" minOccurs="1" maxOccurs="1" type="alternativeReference">                    
            </xs:element>
            <xs:element name="category" type="categoryReference" minOccurs="1" maxOccurs="unbounded">
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
