lib/src/main/xsd/xmcda3_affineLinearFunction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="xmcda3_piecewiseLinearFunction.xsd"></xs:include>

    
    <xs:complexType name="affineLinearFunctionType">
        <xs:complexContent>
            <xs:extension base="functionType">
                <xs:sequence>
                    <xs:element name="a" type="xs:double" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="b" type="xs:double" minOccurs="1" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
</xs:schema>
